@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700;800;900&family=Kumbh+Sans:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}
body {
  background-color: hsl(185, 75%, 39%);
}
.container {
  /* background-color: hsl(185, 75%, 39%); */
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.bg-pattern {
  position: absolute;
  width: 50%;
  z-index: -1;
}
.bg-pattern-top {
  top: -300px;
  left: -50px;
}
.bg-pattern-bottom {
  bottom: -300px;
  right: -50px;
}
.card {
  background-color: white;
  width: 300px;
  margin: 2rem auto;
  text-align: center;
  border-radius: 10px;
  z-index: 100;
}
.card-top {
  background-image: url("../images/bg-pattern-card.svg");
  height: 80px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.profile-image {
  border-radius: 50%;
  margin-top: -50px;
}
.details {
  padding: 1rem 0;
}
.card-footer {
  display: flex;
  padding: 1rem 2rem;
  justify-content: space-between;
}
